# Cache do Python
__pycache__/
*.py[cod]
*$py.class

# Ambientes Virtuais
venv/
env/
.env

# Banco de Dados Local (Importante para não enviar seus testes locais)
*.db
*.sqlite3

# Arquivos do VS Code
.vscode/

# Arquivos do Sistema
.DS_Store
Thumbs.db
